<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>{title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="qrc:/html/templates/manuscript/images/style.css" type="text/css" media="all" />
{css}
{javascript}
</head>
<body>
<div class="content">
  <div id="header">
    <div class="title">
      <h1></h1>
      <h3>{title}</h3>
    </div>
  </div>
  <div id="main">
    <div class="center">
      {content}
<div class="commentsbox">
<div class="comments ">{info}</div>
</div>
    </div>
   
  </div>
  <div id="prefooter">
    
  </div>
  <div id="footer">
    <div class="padding">  </div>
  </div>
</div>
</body>
</html>
