/*
By Herreman David
http://www.free-css-templates.com
StyleSheet for BinaryNews Template
*/

body {
 background-color: #e7e7e7;
 color: #FFF;
 padding: 0; margin: 0; font: 0.7em Arial, sans-serif; line-height: 1.5em;
}

a { color: #46574D; background: inherit; }
a:hover { color: #647B6D; background: inherit;}

h1 { font: bold 2em Arial, Sans-Serif; letter-spacing: -1px; padding: 16px 0 0 8px; margin: 0; }
h2 { margin: 0; padding: 0; font: normal 1.6em Arial, Sans-Serif; letter-spacing: -1px; }
h1 a { color: #46574D; background: inherit; }
h1 a, h2 a { text-decoration: none; }
h1 a:hover, h2 a:hover { color: #BFE1ED; background: inherit; }
h3 { font: 90% Arial, Sans-Serif; margin: 0 0 10px 0; padding: 0; color: #46574D; background: #FFF; }
p {	margin: 0 0 0px 0; line-height: 1.5em; }
form { margin: 0; }

.content { 
    background: #FFF; 
	margin: 0 auto;
	padding: 0px;
	width: 886px;
	color: #000;
}

.preheader {
	background: #000 url(preheader.jpg) no-repeat center bottom;
	color: #FFF;
	width: 886px;
	height: 71px;
	margin: 0;
	padding: 0;
}

	.preheader a { color: #FFF; background: inherit; text-decoration:none; }
	.preheader a:hover { color: #FFF; background: inherit;}

.preheader .padding {
	
	float: right;
	padding: 52px 70px 0 0;
	color: #FFF;
}

.header {
	background: #000 url(header.jpg) no-repeat center bottom;
	color: #FFF;
	width: 886px;
	height: 78px;
	margin: 0;
	padding: 0;
}

.header .title {
	float: left;
	padding: 12px 0 0 84px;
	color: #FFF;
	font: bold 1.8em Arial, sans-serif;
}

.header .slogan {
	float: left;
	clear: both;
	padding: 2px 0 0 84px;
	color: #FFF;
	font: bold 0.8em Arial, sans-serif;
}


.main_content {
	background: #FFF url(bg.jpg) repeat-y center bottom;
	background-color: #FFF;
	margin: 0 auto;
	padding: 0px;
	width: 886px;
}


.sd_left {

    background-color: #FFF;
	color: #000;
	margin: 0 0 0px 80px;
	padding: 0px 20px 0px 5px;
	width: 80%;
	
}	


.text_padding {
	padding: 15px 0 0 0;
}

.main_content h2 {
	background-color: #FFF;
	padding: 5px 0 5px 0;
	color: #46574D;
	font: bold 1.6em Arial, sans-serif;
}


.date { 
	color: #46574D; 
	background: #FFFFFF;
	text-align: right; 
	margin: 10px 0 5px 0; 
	padding: 0.4em 0 0 0; 
	border-top: 1px solid #eee;
}



.comments { 
	padding: 10px 10px 8px 10px; 
	margin: 0 0 7px 0; 
	background: #f8f8f8; 
	color: #000;
}

.commentsbox { 
	padding: 8px 0 10px 10px; 
	margin: 0 0 10px 0; 
	background: #f4f4f4; 
	color: #000;
}



.footer { 
	background: #000 url(footer.jpg) center no-repeat;
	width: 886px;
	height: 78px;
	color:#555;  
	font-size:90%;
	text-align:center; 
	clear:both;
}

		.footer .padding {
			padding: 40px 0 0 0;
				
		}

