<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<title></title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="bodywrap">
  <section id="pagetop">
    <p id="siteinfo">
    Put your Caption of Phone Number // +123 456789
    </p>
  </section>
<div id="contents">
  <section id="main">
      <div id="leftcontainer">
      <h2 class="mainheading"> Page Template</h2>
      <article class="post">

      </article>
      <div class="clear"></div>
      </div>
  </section>
</div>

</div>
<footer id="pagefooter">
    <div id="footerwrap">
        <div class="copyright">
        2011 &copy;
        </div>
        <div class="credit">
        </div>
    </div>
</footer>
</body>
</html>
