<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<title></title>
<link href="qrc:/html/templates/silverblog/style.css" rel="stylesheet" type="text/css">
{css}
{javascript}
</head>

<body>
<div id="bodywrap">
<section id="pagetop">
<p id="siteinfo">
{info}
</p>
</section>
<div id="contents">
<section id="main">
<div id="leftcontainer">
<h2 class="mainheading">{title}</h2>
<article class="post">
{content}
</article>
<div class="clear"></div>
</div>
</section>
<div class="clear"></div>
</div>

</div>
<footer id="pagefooter">
<div id="footerwrap">
<div class="copyright">
2011 &copy; 
</div>
<div class="credit">
</div>
</div>
</footer>
</body>
</html>
